/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.3px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Own styles
-------------------------------------------------- */
:root {
    /* Main Colors */
    --gradient: linear-gradient( rgba(0,95,171,1) 2%, rgba(12,35,114,1) 98% );
    --blue: #007bff;
}

.button {
    /* ... */
    background: var(--gradient);
}

.bg-nav {
    background-color: var(--blue) !important;
}

.nav-img {
    height: 40px;
    margin-right: 14px;
}

h2 {
    font-weight: 900 !important;
    letter-spacing: 1.2px;
}

.webapp-title {
    font-weight: 700 !important;
    letter-spacing: 1.2px;
    color: white !important;
}

.fc-day-today {
    background-color: #f5faff !important;
}

.box {
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip: padding-box;
    height: 100%;
}

btn-outline-light:hover {
    color: var(--blue) !important;
}

.text-light:hover {
    color: var(--blue) !important;
}


@media only screen and (max-width: 545px) {
    .test {
        text-align: center !important;
    }

    #account {
        padding:4em;
    }

    .fc .fc-toolbar {
        display: block;
        text-align: center;
    }

    .fc-toolbar-chunk {
        padding: 10px 0px;
    }

    .fc-view-container {
        height: 100% !important;
    }
    fc-view-harness-active{
        height:42vh !important;
    }
}