@page
@model ZAPP.Pages.Tasks.EditModel

@{
    ViewData["Title"] = "Aanpassen";
}

<h1>Aanpassen</h1>

<h4>Taak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Task.TaskID" />
            <div class="form-group">
                <label asp-for="Task.Title" class="control-label"></label>
                <input asp-for="Task.Title" class="form-control" />
                <span asp-validation-for="Task.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <input asp-for="Task.Description" class="form-control" />
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
